<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eradotovic.mbankingapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MBankingApp"
        android:allowBackup="true"
        android:icon="@drawable/mbankingapp_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mbankingapp_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MBankingApp">

        <activity
            android:name=".transactions.TransactionsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".registration.RegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>